<!-- nav bar from partial -->
<%= render :partial => 'nav' %>

<h1>ALL VOLUNTEERS</h1>

<div id="button_div">
	<%= button_to "NEW VOLUNTEER", new_volunteer_path, :id => "new_project_button", :method => :get %>
</div>

<!-- iterate and list all volunteers -->
<div id="project_container">
	<% @volunteers.sort { |a, b| a.first_name <=> b.first_name }.each do |volunteer| %>
		<div class="project">
			<h3><%= link_to volunteer.first_name + ' ' + volunteer.last_name, volunteer_path(volunteer.id) %></h3>
			<p><%= volunteer.area_interest %></p>
		</div></br></br>
	<% end %>
</div>