<!-- nav bar from partial -->
<%= render :partial => 'nav' %>

<h1>All Volunteers</h1>

<%= button_to "NEW VOLUNTEER", new_volunteer_path, :id => "new_volunteer_button", :method => :get %>

<!-- iterate and list all volunteers -->
<div id="volunteer_container">
	<% @volunteers.sort { |a, b| a.first_name <=> b.first_name }.each do |volunteer| %>
		<div class="volunteers">
			<h3><%= link_to volunteer.first_name + ' ' + volunteer.last_name, volunteer_path(volunteer.id) %></h3>
			<p><%= volunteer.area_interest %></p>
		</div></br></br>
	<% end %>
</div>